*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Sans', sans-serif; /* Шрифт*/
    font-size: 16px;
    }
.header{
    width: 100%;
    height: 45px;
    padding: 13px 0;
}
.left, .right {
    width: 75px;
    float: left;
    padding: 0 15px;
}
.left{
    width: 180px;
    height: 40px;
    padding-right: 0px;
    margin-left: 5px;
    padding-left: 10px;
}
.logo{
    height: 40px;
    cursor: pointer;
}
.logo img{
    width: 200px;
    height: 60px;
    margin-left: 0px;
}
.cent{
    width: 300px;
    height: 40px;
    padding-bottom: 0;
    float: left;
}
.right{
    height: 40px;
    text-align: center;
    vertical-align: bottom;
    float: right;
    margin-right: 100px;
    margin-left: 0px;
}
.form{
    width: 282px;
    height: 31px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.35);
    float: left;
    margin: 5px auto;
}
input[type="search"]{
    border: none;
    outline: none;
    width: 224.5px;
    vertical-align: middle;
    margin: 0px;
    margin-left: 5px;
    padding: 0 15px;
}
input[type="submit"]{
    width: 48px;
    height: 31px;
    border: none;
    background: url(../img/lup.jpg) no-repeat 50% 50%;
    cursor: pointer;
    vertical-align: middle;
}
.button{
    margin: 0px auto;
    line-height: 45px;
    text-align: center;
}
.button a{
    height: 45px;
    color: green;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}
.button a:hover{
    color: #00FF00;
}
.right .button a{
    vertical-align: middle;
}
.cont-left{
    width: 15%;
    height: 830px;
    float: left;
}
.cont-left img{
    border: 1px solid #00FA9A;
    width: 150px;
    height: 200px;
    margin: 5px auto;
    cursor: pointer;
    display: block;
}
.cont-right{
    width: 15%;
    height: 830px;
    float: right;
}
.cont-right img{
    border: 1px solid #00FA9A;
    width: 150px;
    height: 200px;
    margin: 5px auto;
    cursor: pointer;
    display: block;
}
.cont-left img:hover{
    width: 160px;
    height: 210px;
}
.cont-right img:hover{
    width: 160px;
    height: 210px;
}
.frm{
    height: 830px;
    width: 70%;
    float: left;
}
.content-form{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: bottom;
    margin: 0px auto;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #0000CD;
}
.content-form a{
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 100%;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}
.content-form a:hover{
    text-decoration: none;
}
.little-body{
    display: inline-block;
    height: 100%;
    max-width: 100%;
    width: 100%;
    background-image: url("../img/batt.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat ;
    cursor: pointer;
}
.body{
    margin-top: 250px;
    height: 100%;
}
.c1{
    width: 582px;
    height: 100%;
    float: left;
}
.c2{
    width: 505px;
    height: 100%;
    float: right;
}
.b1{
    width: 660px;
    height: 490px;
    float: left;
}
.b1 img{
    max-width: 100%;
    height: 490px;
}
.b2{
    width: 330px;
    height: 245px;
    float: left;
}
.b2 img{
    max-width: 100%;
    height: 340px;
    float: left;
}
.b3{
    width: 252px;
    height: 245px;
    float: right;
}
.b3 img{
    max-width: 131%;
    height: 340px;
}
.b4{
    height: 245px;
    width: 505px;
}
.b4 img{
    height: 284px;
    max-width: 100%;
}
.b5{
    height: 586px;
    width: 505px;
}
.b5 img{
    height: 585px;
    width: 505px;
}
.mid{
    max-width: 100%;
    height: 100%;
    background-image: url("../img/batt.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat ;
}
.bot{
    width: 850px;
    height: 150px;
    margin: 0px auto;
    text-align: center;
    background-color: white;
    padding: 15px;
    cursor: pointer;
}
.bot img{
    width: 850px;
    height: 150px;
}
.ul{
    border-top: 1px solid #D3D3D3;
    background-color: white;
    width: 1137px;
    height: 500px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    margin-top: 0px;
    margin-right: 249px;
    margin-bottom: 15px;
    margin-left: 249px;
    vertical-align: middle;
}
.ul p{
    font-weight: bold;
    font-size: 23px;
    font-family: 'PT Sans';
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.li_1{
    width: 275px;
    height: 71px;
    margin-right: 5px;
    float: left;
}
.li_1:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}
.li_2{
    width: 275px;
    height: 71px;
    margin-right: 0px;
    float: left;
}
.li_2:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.li_3{
    width: 275px;
    height: 71px;
    margin-right: 5px;
    float: left;
}
.li_3:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.li_4{
    width: 275px;
    height: 71px;
    margin-right: 5px;
    float: left;
}
.li_4:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.li_5{
    width: 275px;
    height: 71px;
    margin-right: 5px;
    float: left;
}
.li_5:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.li_6{
    width: 275px;
    height: 71px;
    margin-right: 0px;
    float: left;
}
.li_6:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.li_7{
    width: 275px;
    height: 71px;
    margin-right: 5px;
    float: left;
}
.li_7:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.li_8{
    width: 275px;
    height: 71px;
    margin-right: 5px;
    float: left;
}
.li_8:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.li_9{
    width: 275px;
    height: 71px;
    margin-right: 5px;
    float: left;
}
.li_9:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.li_10{
    width: 275px;
    height: 71px;
    margin-right: 5px;
    float: left;
}
.li_10:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.li_11{
    width: 275px;
    height: 71px;
    margin-right: 5px;
    float: left;
}
.li_11:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.li_12{
    width: 275px;
    height: 71px;
    margin-right: 5px;
    float: left;
}
.li_12:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}
.show{
    text-align: center;
}
.show a{
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px dashed black;
    text-decoration: none;
    margin: 20px 0px;
    letter-spacing: 0px;
}
.show a:hover{
    border: none;
}

